.lineWrapper {
    position: absolute;
    overflow: scroll;
    width: 110%;
}

.line {
    display: block;
    position: relative;
    overflow: show;
    width: 100%;
    z-index: 1;
}

.line:nth-child(even) {
    --base-color: color-mix(in srgb, var(--vscode-editor-lineHighlightBackground),transparent 75%);
    background-color: var(--base-color);
    position: relative;
}

.entry {
    display: block;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: var(--vscode-editor-lineHighlightBackground);
    z-index: 5;
}

.column-width {
    width: 20px;
    max-width: 20px;
}


.highlight {
    background-color: var(--vscode-editor-lineHighlightBackground);
}

.column-highlight {
    position: absolute;
    z-index: -1;
    overflow: visible;
    background-color: color-mix(in srgb, var(--vscode-editor-lineHighlightBackground),transparent 50%)
}

.bar {
    background-color: blueviolet;
    position: relative;
}

.zoom_button {
    width: 20px;
    height: 20px;
    background-color: #3b3142;
    border: none;
    color: white;
    font-size: 16px;
    z-index: 3;
}

.zoomButtons {
    z-index: 4;
    position: absolute;
}

