.lineWrapper {
    position: absolute;
    overflow: scroll;
    width: 90%;
}

.line {
    display: block;
    position: relative;
    overflow: show;
    width: 100%;
}

.entry {
    display: block;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: #46463f;
}

.column-width {
    width: 20px;
    max-width: 20px;
}


.highlight {
    background-color: var(--vscode-editor-lineHighlightBackground);
}

.column-highlight {
    position: absolute;
    z-index: -1;
    overflow: visible;
}

.bar {
    background-color: blueviolet; /* TODO: get apropriate color */
    position: relative;
}

.zoom_button {
    width: 20px;
    height: 20px;
    background-color: #3b3142;
    border: none;
    color: white;
    font-size: 16px;
    z-index: 2;
}

.zoomButtons {
    z-index: 3;
    position: absolute;
}